In [ ]:
# 1. ბაზის მოდულის შემოტანა და კავშირი
import sqlite3
import matplotlib.pyplot as plt

# დაკავშირება ბაზასთან
conn = sqlite3.connect('books.db')
cursor = conn.cursor()

In [ ]:
# 2. მონაცემების წაკითხვა WHERE ოპერაციით
cursor.execute("SELECT title, average_rating FROM books WHERE authors LIKE '%Tolkien%'")
results = cursor.fetchall()
# ეს ბრძანება იღებს ყველა იმ წიგნის სათაურს და საშუალო რეიტინგს, რომლის ავტორია Tolkien
for row in results:
    print(row)

In [ ]:
# 3. ახალი ჩანაწერის დამატება (user input-ით)
book_id = input("შეიყვანე წიგნის ID: ")
title = input("შეიყვანე წიგნის სათაური: ")
authors = input("შეიყვანე ავტორი: ")
cursor.execute("INSERT INTO books (field1, field2, field3) VALUES (?, ?, ?)", (book_id, title, authors))
conn.commit()
# ეს ბრძანება ცხრილში ამატებს ახალ წიგნს მომხმარებლის მიერ შეყვანილი მონაცემებით

In [ ]:
# 4. ჩანაწერის განახლება (user input-ით)
new_title = input("შეიყვანე ახალი სათაური: ")
update_id = input("შეიყვანე ID განახლებისთვის: ")

cursor.execute("UPDATE books SET field2 = ? WHERE field1 = ?", (new_title, update_id))
conn.commit()
# ეს ბრძანება განაახლებს იმ წიგნის სათაურს, რომლის ID დაემთხვევა შეყვანილს

In [ ]:
# 5. ჩანაწერის წაშლა (user input-ით)
delete_id = input("შეიყვანე ID წასაშლელად: ")

cursor.execute("DELETE FROM books WHERE field1 = ?", (delete_id,))
conn.commit()

In [ ]:
# მონაცემების ვიზუალიზაცია — 3 დიაგრამა (matplotlib)

# 1)ჰისტოგრამა — წიგნების გვერდების რაოდენობა
cursor.execute("SELECT field2, CAST(field8 AS INTEGER) FROM books LIMIT 10")
books = cursor.fetchall()

titles = [book[0] for book in books]
pages = [book[1] for book in books]

plt.figure(figsize=(10,6))
plt.barh(titles, pages, color='skyblue')
plt.xlabel('გვერდების რაოდენობა')
plt.title('ტოპ 10 წიგნი გვერდების მიხედვით')
plt.tight_layout()
plt.show()

In [ ]:
# 2) წერტილოვანი დიაგრამა — რეიტინგი vs გვერდები
cursor.execute("SELECT CAST(field4 AS FLOAT), CAST(field8 AS INTEGER) FROM books LIMIT 50")
data = cursor.fetchall()

ratings = [row[0] for row in data]
pages = [row[1] for row in data]

plt.figure(figsize=(8,6))
plt.scatter(pages, ratings, alpha=0.7)
plt.xlabel("გვერდების რაოდენობა")
plt.ylabel("საშ. რეიტინგი")
plt.title("რეიტინგი და გვერდები")
plt.grid(True)
plt.show()

In [ ]:
# 3) პაი დიაგრამა — ენების განაწილება
cursor.execute("SELECT field7, COUNT(*) FROM books GROUP BY field7")
lang_data = cursor.fetchall()

languages = [row[0] for row in lang_data]
counts = [row[1] for row in lang_data]

plt.figure(figsize=(8,8))
plt.pie(counts, labels=languages, autopct='%1.1f%%', startangle=140)
plt.title("წიგნების ენების განაწილება")
plt.axis('equal')
plt.show()

In [2]:
# 7. კავშირის გაწყვეტა
conn.close()

NameError: name 'conn' is not defined